NotShared/
*.zip
*.ncb
*.bsc
*.pch
*.sbr
*.ilk
*.idb
*.obj
*.DS_Store
*.pdb
RTSimpleApp/media/interface/*.rttex
RTSimpleApp/media/interface/*.rtfont
RTSimpleApp/bin/
shared/win/utils/log.txt
.vs
*.tlog
*.log
*.recipe
*.vcxproj.user
**/bin/log.txt
**/bin/*.exe
RTDink/
RTMindWall/
UGT/
RTDScroll/
RTLibretroTest
RTSlideShow
shared/android/optional_src/libs/f
shared/android/optional_src/libs/libcurl_ssl
shared/android/optional_src/libs/libopenssl
shared/android/optional_src/libs/fmodstudio
shared/html5/fmodstudio
shared/win/fmodstudio
