NotShared/
*.zip
*.ncb
*.bsc
*.pch
*.sbr
*.ilk
*.idb
*.obj
*.DS_Store
*.pdb
*.iobj
*.ipdb
RTSimpleApp/media/interface/*.rttex
RTSimpleApp/media/interface/*.rtfont
RTSimpleApp/bin/
shared/win/utils/log.txt
.vs
*.tlog
*.log
*.recipe
*.vcxproj.user
**/bin/log.txt
**/bin/*.exe
RTDink/
RTMindWall/
UGT/
RTDScroll/
RTLibretroTest
RTSlideShow
RTWhisperApp
shared/android/optional_src/libs/f
shared/android/optional_src/libs/libcurl_ssl
shared/android/optional_src/libs/libopenssl
shared/android/optional_src/libs/fmodstudio
shared/html5/fmodstudio
shared/win/fmodstudio
RTBareBones/linux/build
RTSimpleApp/linux/build
RTPack/linux/build
RTSimpleApp/linux/build
RTSimpleApp/build
RTBareBones/build
RTLooneyLadders/bin/
shared/win/opencv
Amigo
AmigoMedia
shared/addons/whisper.cpp
shared/addons/WhisperModded

RTConsole/html5
RTLooneyLadders/windows/x64
RTLooneyLadders/windows/log.txt
.vscode/settings.json
RTSimpleApp/html5
RTSimpleApp/AndroidGradle/app/libs/fmod.jar
RTBareBones/html5
*/windows_vs2017/x64
shared/win/libVLC
RTPack/source/PVRTexLib
RTPack/bin/RTPack.iobj
RTPack/bin/RTPack.ipdb
xcuserdata
RTPack.vcxproj.FileListAbsolute.txt
DMODTester/
RTConsole/windows_vc2017/RTConsole.vcxproj
RTConsole/windows_vc2017/RTConsole.vcxproj.filters

