*.iml
.gradle
.idea
.DS_Store
app/build
app/.cxx
app/src/main/assets
app/src/main/java/com/rtsoft/RTAndroidApp/SharedActivity.java
app/src/main/java/com/rtsoft/RTAndroidApp/SharedMultiTouchInput.java
/captures
.externalNativeBuild
.cxx
local.properties
